
{{#x-card
    onsubmit=attrs.onsubmit
    title='Login to Peepchat'
    buttonText='Login'
    buttonDisabled=validations.messages.length}}

    <div class="row">
        {{x-input
            value=user.email
            errors=(v-get this 'user.email' 'messages')
            classNames='col s12'
            type='email'
            label='Email'}}
    </div>

    <div class="row">
        {{x-input
            value=user.password
            errors=(v-get this 'user.password' 'messages')
            classNames='col s12'
            type='password'
            label='Password'}}
    </div>
{{/x-card}}
