<div class="card-content">
    {{#if title}}
        <span class="card-title">{{title}}</span>
    {{/if}}
    {{yield}}
</div>
{{#if attrs.onsubmit}}
    <div class="card-action right-align">
        <button
                disabled={{buttonDisabled}}
                        class="btn-flat {{if buttonDisabled "disabled" "green white-text"}}"
        onclick={{attrs.onsubmit}}
        >
        {{buttonText}}
        </button>
    </div>
{{/if}}